<html>
<head>
  <meta charset="UTF-8">
  <title>Unit-10-Authentication</title>
  <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="signup_space">
  </div>
<div class="signup_container">
  <div class="signup">

    Delete
    <br>
    <br>
    <form method='POST' action='/delete'>
      <input name="username" type="text" placeholder="username"></input> <br><br>
      <input type='submit' value='Delete User'></button>
  
      </form>
      
    </div>
  </div>
</body>
</html>
