<html>
<head>
  <meta charset="UTF-8">
  <title>Unit-10-Authentication</title>
  <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>


      <div class="header">
      <div class="logo"></div>
      <ul class="menu">
          <li><a href="#">Game</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Contact Us </a></li>
          <li><a href="#">About </a></li>
        <div class="signin">
            <form method="POST" action='/login'>
              <input name="username" type="text" placeholder="username"></input>
              <input name="password" type="password" placeholder="password"></input>
              <input type='submit' value="login">
            </form>
            <a href='./signup'>Sign up</a>
        </div>
      </ul>  
         
    </div>  
     
    <div></div>
   <div class="container_space">
     
   </div>

<div class="container_container">

  <div class="container">
      <img 
    <div>
    </div>
  </div>

  <div class="bottom"></div> 
  
  <div class="footer">
  </div>
    
  </div>


</body>
</html>
