<html>
<head>
  <meta charset="UTF-8">
  <title>Fable</title>
  <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
 
</head>
<body>


      <div class="header">
      <div class="logo"></div>
      <ul class="menu">
          <!-- <li><a href="#">Game</a></li>
          <li><a href="#">Shop</a></li> -->
          <li><a href="#">Contact Us </a></li>
          <li><a href="#">About </a></li>
          <li><a href="./update">Update Password</a></li>
          <li><a href="./delete">Delete User</a></li>
        <div class="signin">
            <form method="POST" action='/login'>
              <input name="username" type="text" placeholder="username"></input>
              <input name="password" type="password" placeholder="password"></input>
              <input type='submit' value="login">
            </form>
            <a href='./signup'>Sign up</a>
        </div>
      </ul>  
         
    </div>  
     
    <div></div>
   <div class="container_space">

    <!-- music -->

      <iframe class="music" width="560" height="315" src="https://www.youtube.com/embed/l6veMGLpol0?rel=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



   </div>

<div class="container_container">

  <div class="container">
    <!-- <iframe class="gameContainer">
    </iframe> -->
    <div>
    </div>
  </div>

  <div class="bottom"></div> 
  
  <div class="footer">
  </div>
    
  </div>


</body>
</html>
